.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-items-container {
  font-size: 24px;
}
.nav-items-container > ul {
  display: flex;
  list-style-type: none;
}
.nav-items-container > ul > li {
  padding: 10px;
  padding-right: 90px;
  margin-top: 45px;
}
.restaurant-card-container {
  width: 300px;
  /* height: 375px; */
  margin: 2px;
  background-color: rgb(225, 220, 220);
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.restaurant-container :hover {
  cursor: pointer;
  border: 1px solid black;
}
.search-container {
  padding: 20px;
}
.restaurant-logo {
  width: 100%;
}
.fliter-btn {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.restaurant-detail-container {
  padding: 15px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  margin: 20px;
  height: 400px;
  width: 300px;

  background-color: rgb(225, 220, 220);
}
.login-btn {
  margin-right: 60px;
  padding: 40px;
  cursor: pointer;

}
.fliter{
  display: flex;
  
}
